<app-menu></app-menu>
<div id='boas-vindas' class='row justify-content-center'>
    <p class='text-center mt-4'>Sejam Bem-Vindes!!</p>
</div>
<div class='container-fluid'>
    <div class='row'>
    <div class='col-md-6 d-flex justify-content-center align-items-center'>
        <div id='introducao' class='text-justify ml-5'>
    <p>Esse site tem o objetivo dar enfâse aos games que marcaram as gerações passadas e os que estão em evidências no momento, por conta de suas histórias, dinâmicas e capacidade de prender o consumidor por horas ao longo de sua programação. São eles responsáveis por parte do entretenimento causado em grande parte das pessoas que se identificam com o mundo tecnológico e que simplesmente são apaixonados por uma jogatina. Serão postados os games que mais me apeguei de acordo com a minha infância e com o estado atual da minha vida, já que até hoje sou um grande fascinado em tecnologia e games de diversas plataformas. Espero que aproveitem bastante o conteúdo que será postado durante esssa jornada e que possam desfrutar de alguns jogos que serão postados nessa página!</p>
</div>
</div>
    <div class="col-md-6 d-flex justify-content-center align-items-center mt-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide first-carrousel" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img width='500' height='500' class="d-block w-100" src="./assets/img/mario-kart.jpg" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img width='500' height='500' class="d-block w-100" src="assets/img/resident.jfif" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img width='500' height='500' class="d-block w-100" src="assets/img/crash.jfif" alt="Terceiro Slide">
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id='inicio' class='row justify-content-center'>
        <p class='text-center mt-4'>O Início de tudo!</p>
    </div>
    <div class="container-fluid">
    <div class='row justify-content-center'>
        <div class="card-deck ml-3">
            <div class="card">
              <img height='170' class="card-img-top" src="./assets/img/mini-game.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="text-center card-title">Simples e Objetivo!</h5>
                <p class="card-text text-justify">Recheado de jogos e bem acessível no começo dos anos 2000, o Minigame apareceu como uma opção para pessoas que gostariam de ter um jogo imediato para jogar, já que na época os celulares não apresentavam a tecnologia que possuem nos dias atuais e os games portatéis como o Game Boy não eram tão acessível no momento.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/img/aquaplay.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="text-center card-title">Uma aventura debaixo d'água!</h5>
                <p class="card-text text-justify">O Aquaplay, sem dúvidas nenhuma, foi uma das grandes interações que eu tive durante minha infância. Apesar de bem simples, era um passatempo agradável para crianças que procuravam sair da ociosidade e se aventurar nas águas colocando as argolas em seu alvo através da pressão que os botões causavam na água que estava no recipiente do game.  </p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/img/b-virtual.jfif" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="text-center card-title">Jogo de vida ou morte!</h5>
                <p class="card-text text-justify">O bichinho virtual foi um dos grandes xodós da galera no começo dos anos 2000. Seu preço acessível faziam com que diversos pais presenteassem seus filhos para imergirem nessa aventura que não era nada fácil, pois existia uma vida mais que exigente dentro desse simples aparelho!</p>
              </div>
            </div>
          </div>
    </div>
</div>
</div>
